---
import Hero from '../components/Hero.astro';
import GlobalStyles from '../components/GlobalStyles.astro';
import NavigationBar from '../components/NavigationBar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>James Minor | Software Developer</title>
	</head>
	<body>
		<GlobalStyles/>

		<NavigationBar/>
		<Hero/>
		
		<main>
			<h2>About Me</h2>
			<p>
				Hi there! My name is James Minor, and I am a passionate full-stack software developer. I have had
				the pleasure and the privilege of working as a developer for the last three years, and I can safely
				say it truly is my passion. I love being able to see end-users interact with products that I had a
				hand in making.
			</p>
			<p>
				Over the course of my career I have worked on a multitude of different projects, ranging from
				fully-custom websites to mobile apps. In the past I have taken up leadership positions,
				ensuring that projects get finished on schedule, and that our sprint goals are on track. I
				have also been down in the weeds so to speak, personally developing alongside my peers and
				helping to ensure we are all meeting high standards of quality and efficiency. Whatever way
				you split it I am a team player, and a valuable asset on any team.
			</p>
			<p>
				In my free time I enjoy playing chess, making amazing food, and I am engrossed with
				constantly learning, whether that is in regard to my personal skills or my professional
				work. I am a strong believer that if you want to be great at anything, you must strive to be
				the best, and that you must be willing to constantly learn and evolve.
			</p>
			<p>
				I am expected to graduate with my Bachelor of Science in Computer Information Systems -
				Application Development, with a minor in Web Development from the University of Wisconsin -
				Stevens Point in May 2024.
			</p>
		</main>
	</body>
</html>
